.button-wrapper {
  --pdl-sticky-container-safe-area-top: 0px;
  --pdl-sticky-container-safe-area-bottom: 0px;
  --pdl-sticky-container-safe-area-right: 8px;
  --pdl-sticky-container-safe-area-left: 8px;
  inset: var(--pdl-sticky-container-safe-area-top) var(--pdl-sticky-container-safe-area-right)
    var(--pdl-sticky-container-safe-area-bottom) var(--pdl-sticky-container-safe-area-left);

  position: absolute;
  direction: ltr;
  pointer-events: none;

  &.rtl {
    direction: rtl;
  }

  &.pixiv {
    --pdl-sticky-container-safe-area-top: 40px;
  }

  &.gelbooru {
    --pdl-sticky-container-safe-area-bottom: calc(1em + 22px);
  }

  &.moebooru_image {
    --pdl-sticky-container-safe-area-right: calc(5em + 8px);
  }

  &.native_video {
    --pdl-sticky-container-safe-area-bottom: 70px;
  }

  &.vjs_video {
    --pdl-sticky-container-safe-area-bottom: 32px;
  }

  &.fluid_video {
    --pdl-sticky-container-safe-area-bottom: 56px;
  }
}
