.button-wrapper {
  position: absolute;
  right: 8px;
  top: 0px;
  bottom: 0px;
  margin-top: 40px;

  &.rule34 {
    bottom: calc(1em + 22px);
  }

  &.moebooru_image {
    right: calc(5em + 8px);
  }
}
