.pdl-checkbox {
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: top;
  appearance: none;
  position: relative;
  box-sizing: border-box;
  width: 28px;
  border: 2px solid transparent !important;
  border-radius: 14px !important;
  height: 14px;
  background-color: rgba(133, 133, 133) !important;
  transition:
    background-color 0.2s ease 0s,
    box-shadow 0.2s ease 0s;

  &:hover {
    background-color: var(--pdl-bg3-hover) !important;
  }

  &:checked {
    background-color: rgb(0, 150, 250) !important;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    transform: translateX(0px);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: transform 0.2s ease 0s;
  }

  &:checked::after {
    transform: translateX(14px);
  }
}
