@property --pdl-progress {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@keyframes pdl_loading {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.pdl-btn {
  font-family: 'win-bug-omega, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif';
  position: relative;
  border-radius: 4px;
  background: no-repeat center/85%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%233C3C3C' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm-32-316v116h-67c-10.7 0-16 12.9-8.5 20.5l99 99c4.7 4.7 12.3 4.7 17 0l99-99c7.6-7.6 2.2-20.5-8.5-20.5h-67V140c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12z'%3E%3C/path%3E %3C/svg%3E");
  color: #01b468;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  border: none;
  text-decoration: none !important;
  text-align: center;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: 32px;
  cursor: pointer;

  &.pdl-btn-main {
    margin: 0 0 0 10px;
  }

  &.pdl-btn-sub {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: calc((100% - 32px) * var(--pdl-btn-top) / 100);
    left: calc((100% - 32px) * var(--pdl-btn-left) / 100);
    z-index: 1;

    /* artwork页查看原图 */
    &.presentation {
      position: fixed;
      top: 50px;
      right: 20px;
      left: auto;
      border-radius: 8px;
    }

    &.manga-viewer {
      top: 80%;
      right: 4px;
      left: auto;
      border-radius: 8px;
    }

    /* 个人收藏 */
    &.self-bookmark {
      top: calc((100% - 32px) * var(--pdl-btn-self-bookmark-top) / 100);
      left: calc((100% - 32px) * var(--pdl-btn-self-bookmark-left) / 100);
    }
  }

  // 历史记录页z-index为1时会遮挡图片浏览器
  ._history-item > &.pdl-btn-sub {
    z-index: auto;
  }

  &.pdl-error {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%23EA0000' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z'%3E%3C/path%3E %3C/svg%3E") !important;
  }

  &.pdl-complete {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%2301B468' d='M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z'%3E%3C/path%3E %3C/svg%3E") !important;
  }

  &.pdl-progress {
    background-image: none !important;
    cursor: default !important;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 27px;
      height: 27px;
      transform: translate(-50%, -50%);
      -webkit-mask: radial-gradient(transparent, transparent 54%, #000 57%, #000);
      mask: radial-gradient(transparent, transparent 54%, #000 57%, #000);
      border-radius: 50%;
    }

    /* 进度条 */
    &:not(:empty):after {
      background: conic-gradient(
        #01b468 0,
        #01b468 var(--pdl-progress),
        transparent var(--pdl-progress),
        transparent
      );
      transition: --pdl-progress 0.2s ease;
    }

    &:empty:after {
      background: conic-gradient(#01b468 0, #01b468 25%, #01b46833 25%, #01b46833);
      animation: 1.5s infinite linear pdl_loading;
    }
  }

  /* user页作品标签下载按钮 */
  &.pdl-tag {
    height: auto;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    left: -1px;
    background-color: var(--pdl-btn1);
    transition: background-image 0.5s;

    &:hover {
      background-color: var(--pdl-btn1-hover);
    }
  }

  /* 标签高级搜索下载按钮 */
  &.pdl-modal-tag {
    position: absolute;
    right: 65px;
    top: 6px;
    background-origin: content-box;
    border-radius: 4px;
    padding: 5px;
    width: 42px;
    height: 50px;
    background-color: var(--pdl-btn1);
    transition: 0.25s background-color;

    &:hover {
      background-color: var(--pdl-btn1-hover);
    }
  }

  /* 下载时隐藏icon，屏蔽事件 */
  &.pdl-tag-hide {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E  %3C/svg%3E") !important;
    pointer-events: none !important;
  }
}

/* 多图"展开全部"后下载按钮容器 */
.pdl-wrap-artworks {
  position: absolute;
  right: 8px;
  top: 0px;
  bottom: 0px;
  margin-top: 40px;
  z-index: 1;

  &.rule34 {
    bottom: calc(22px + 1em);
  }

  &.yande {
    right: 5em;
  }

  .pdl-btn-sub.artworks {
    position: sticky;
    top: 40px;
    left: 0px;
  }
}

@mixin lightmode {
  .pdl-btn-main {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%233C3C3C' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm-32-316v116h-67c-10.7 0-16 12.9-8.5 20.5l99 99c4.7 4.7 12.3 4.7 17 0l99-99c7.6-7.6 2.2-20.5-8.5-20.5h-67V140c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12z'%3E%3C/path%3E %3C/svg%3E");
  }
}

@mixin darkmode {
  .pdl-btn-main {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%23D6D6D6' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm-32-316v116h-67c-10.7 0-16 12.9-8.5 20.5l99 99c4.7 4.7 12.3 4.7 17 0l99-99c7.6-7.6 2.2-20.5-8.5-20.5h-67V140c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12z'%3E%3C/path%3E %3C/svg%3E");
  }
}

:root {
  @include lightmode();

  &[data-theme='default'] {
    @include lightmode();
  }

  @media (prefers-color-scheme: light) {
    @include lightmode();
  }

  &[data-theme='dark'] {
    @include darkmode;
  }

  @media (prefers-color-scheme: dark) {
    @include darkmode;
  }
}
