.pdl-modal {
  font-family: 'win-bug-omega, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif';
  line-height: 1.15;
  color: var(--pdl-text1);
  background-color: rgba(0, 0, 0, 0.32);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 99;
  user-select: text;

  .pdl-dialog {
    position: relative;
    background-color: var(--pdl-bg1);
    border-radius: 24px;
    margin: auto;
    min-width: 680px;
    max-width: 1080px;
    width: 50vw;
    font-size: 16px;

    & > .container {
      margin: 20px 40px 30px 40px;
      overflow: hidden;
      transition: all 0.2s;

      & > div {
        display: flex;
        flex-direction: column;
      }
    }

    /* 关闭按钮 */
    .pdl-dialog-close {
      position: absolute;
      top: 10px;
      right: 10px;
      margin: 0;
      padding: 0;
      width: 25px;
      height: 25px;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      background-color: transparent;
      transform: rotate(45deg);
      transition: 0.25s background-color;
      background:
        linear-gradient(rgb(125, 125, 125) 0%, rgb(125, 125, 125) 100%) center/18px 2px no-repeat,
        linear-gradient(rgb(125, 125, 125) 0%, rgb(125, 125, 125) 100%) center/2px 18px no-repeat;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .pdl-dialog-content {
      a {
        color: #0096fa;
        text-decoration: underline;
      }

      input[type='radio'] {
        cursor: pointer;
        & + label {
          cursor: pointer;
        }
      }

      hr {
        height: 0 !important;
        margin: 0;
        border: none;
        border-top: 1px solid var(--pdl-border1);

        &.sub {
          margin-inline-start: 1.5em;
        }

        &.vertical {
          height: 1.15em !important;
          border: none;
          border-left: 1px solid var(--pdl-border1);
        }
      }

      .pdl-dialog-button {
        font-size: 16px;
        background-color: #fff;
        border: 1px solid rgb(125, 125, 125);
        border-radius: 5px;
        padding: 0.5em 1.5em;
        cursor: pointer;
        transition: 0.2s opacity;
        line-height: 1.15;

        &[disabled] {
          cursor: not-allowed !important;
          color: #c0c4cc;
          background-color: #fff;
          border-color: #e4e7ed;
          opacity: 1 !important;
        }

        &:hover {
          opacity: 0.7;
        }

        &.primary {
          color: #fff;
          background-color: #0096fa;
          border-color: #0096fa;

          &[disabled] {
            background-color: #a0cfff;
            border-color: #a0cfff;
          }
        }

        &.icon {
          padding: 0.5em 0.8em;
        }
      }
    }
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
}
