.pdl-thumbnail {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 4px;

  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  font-family: 'win-bug-omega, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif';
  font-size: 13px;
  font-weight: bold;

  color: var(--pdl-green1);
  background-color: rgba(255, 255, 255, 0.5);

  top: calc((100% - 32px) * var(--pdl-btn-top) / 100);
  left: calc((100% - 32px) * var(--pdl-btn-left) / 100);
  z-index: 1;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  & > svg {
    position: absolute;
    width: 85%;
    height: 85%;
    fill: var(--pdl-fill-svg);
    stroke: var(--pdl-fill-svg);
  }

  & > span {
    opacity: 0;
    transition: opacity 0.2s;

    &.show {
      opacity: 1;
    }
  }
}

// 画廊页按钮
:host([type='gallery'])::part(button) {
  position: sticky;
  top: 40px;
  left: 0px;
}

// pixiv个人收藏
:host([type='pixiv-my-bookmark'])::part(button) {
  top: calc((100% - 32px) * var(--pdl-btn-self-bookmark-top) / 100);
  left: calc((100% - 32px) * var(--pdl-btn-self-bookmark-left) / 100);
}

// pixiv历史记录
:host([type='pixiv-history'])::part(button) {
  z-index: auto; // 避免覆盖“相关图片”
}

// pixiv presentation
:host([type='pixiv-presentation'])::part(button) {
  position: fixed;
  top: 50px;
  right: 20px;
  left: auto;
}

// pixiv toolbar
:host([type='pixiv-toolbar'])::part(button) {
  position: relative;
  top: auto;
  left: auto;
  background-color: transparent;
}

// pixiv manga viewer
:host([type='pixiv-manga-viewer'])::part(button) {
  top: 80%;
  right: 4px;
  left: auto;
}

// yande browse
:host([type='yande-browse'])::part(button) {
  top: 320px;
  right: 4px;
  left: auto;
}
