.pdl-thumbnail {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  height: 32px;
  width: 32px;
  top: calc((100% - 32px) * var(--pdl-btn-top) / 100);
  left: calc((100% - 32px) * var(--pdl-btn-left) / 100);

  border: none;
  border-radius: 4px;

  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  font-family: system-ui;
  font-size: 13px;
  font-weight: bold;

  color: #262626;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);

  z-index: 1;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  & > svg {
    position: absolute;
    width: 85%;
    height: 85%;
    fill: currentColor;
    stroke: currentColor;
  }

  & > span {
    opacity: 0;
    transition: opacity 0.2s;

    &.show {
      opacity: 1;
    }
  }

  // 画廊页按钮
  :host([data-type='gallery']) & {
    position: sticky;
    top: 40px;
    left: 0px;
  }

  // pixiv个人收藏
  :host([data-type='pixiv-my-bookmark']) & {
    top: calc((100% - 32px) * var(--pdl-btn-self-bookmark-top) / 100);
    left: calc((100% - 32px) * var(--pdl-btn-self-bookmark-left) / 100);
  }

  // pixiv历史记录
  :host([data-type='pixiv-history']) & {
    z-index: auto; // 避免覆盖“相关图片”
  }

  // pixiv presentation
  :host([data-type='pixiv-presentation']) & {
    position: fixed;
    top: 50px;
    right: 20px;
    left: auto;
  }

  // pixiv toolbar
  :host([data-type='pixiv-toolbar']) & {
    position: relative;
    top: auto;
    left: auto;
    color: inherit;
    background-color: transparent;
  }

  // pixiv manga viewer
  :host([data-type='pixiv-manga-viewer']) & {
    top: 80%;
    right: 4px;
    left: auto;
  }

  // yande browse
  :host([data-type='yande-browse']) & {
    top: 320px;
    right: 4px;
    left: auto;
  }

  :host([data-type='nijie-illust']) & {
    display: inline-flex;
    position: static;
    height: 44px;
    width: 44px;
    top: auto;
    left: auto;
    border-radius: 8px;
    margin: 0px 8px;
    vertical-align: top;

    & > svg {
      width: 70%;
      height: 70%;
    }
  }

  :host([data-status]) & {
    color: #16a34a;
  }

  :host([data-status='error']) & {
    color: #ef4444;
  }
}
